*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    max-width: 1150px;
}
.bookInfoImage{
    width: 100%;
    height: 10vw;
    object-fit: cover
}

.info-color{
    color: rgb(67, 160, 71);
}

.modify-color{
    color: #039be5;
}

.delete-color{
    color: #f44336;
}